<%- include("../partials/page_top.ejs") %> <%-
include("../partials/page_header.ejs") %>

<div class="about_section layout_padding mt-1">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>Add Furniture</h1>
      </div>
    </div>
    <%- include("./partials/furniture_form.ejs") %>
  </div>
</div>

<%- include("../partials/page_footer.ejs") %>
