<%- include("./partials/page_top.ejs") %>
<%- include("./partials/page_header.ejs") %>
      <!-- banner section start --> 
      <div class="banner_section layout_padding">
         <div class="banner_section_2">
            <div class="owl-carousel owl-theme gift_owl_carousel">
               <div class="item">
                  <div class=" banner_main">
                     <h3 class="banner_taital">Best Furnitures For Your Home</h3>
                     <img src="images/banner-img.png" alt="#" />
                  </div>
               </div>
               <div class="item">
                  <div class=" banner_main">
                     <h3 class="banner_taital">Best Furnitures For Your Home</h3>
                     <img src="images/banner-img1.png" alt="#" />
                  </div>
               </div>
               <div class="item">
                  <div class=" banner_main">
                     <h3 class="banner_taital">Best Furnitures For Your Home</h3>
                     <img src="images/banner-img2.png" alt="#" />
                  </div>
               </div>
               <div class="item">
                  <div class=" banner_main">
                     <h3 class="banner_taital">Best Furnitures For Your Home</h3>
                     <img src="images/banner-img2.png" alt="#" />
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- banner section end -->
      <!-- about section start -->
      <div class="about_section layout_padding">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <h1 class="about_taital">About Our Shop</h1>
                  <p class="about_text">reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content</p>
               </div>
            </div>
            <div class="about_section_2 layout_padding">
               <div class="row">
                  <div class="col-md-6">
                     <div class="about_img"><img src="images/about-img.png"></div>
                  </div>
                  <div class="col-md-6">
                     <div class="good_text">Good Furntures Design</div>
                     <p class="making_text">Necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to </p>
                     <div class="read_bt"><a href="#">Read More</a></div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- about section end -->
      <!-- furnitures section start -->
      <div class="furnitures_section layout_padding">
         <div class="container">
            <div class="row">
               <div class="col-sm-12">
                  <h1 class="furnitures_taital">Our Furnitures Work</h1>
                  <p class="furnitures_text">reader will be distracted by the readable content of a page when looking at its layout. </p>
               </div>
            </div>
            <div class="furnitures_section_2">
               <div class="row">
                  <div class="col-md-4">
                     <div class="hover01 column">
                        <figure><img src="images/img-1.png"></figure>
                     </div>
                     <h3 class="introduction_text">Bedroom</h3>
                     <div class="seemore_bt"><a href="#">See More</a></div>
                  </div>
                  <div class="col-md-4">
                     <div class="hover01 column">
                        <figure><img src="images/img-2.png"></figure>
                     </div>
                     <h3 class="introduction_text">Office</h3>
                     <div class="seemore_bt active"><a href="#">See More</a></div>
                  </div>
                  <div class="col-md-4">
                     <div class="hover01 column">
                        <figure><img src="images/img-3.png"></figure>
                     </div>
                     <h3 class="introduction_text">Bathroom</h3>
                     <div class="seemore_bt"><a href="#">See More</a></div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- furnitures section end -->
      <!-- blog section start -->
      <div class="blog_section layout_padding">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <h1 class="blog_taital">Trending Products</h1>
               </div>
            </div>
         </div>
         <div class="container">
            <div class="blog_section_2 layout_padding">
               <div class="row">
                  <div class="col-lg-4 col-md-4 col-sm-12">
                     <div class="blog_box">
                        <div class="blog_img"><img src="images/blog-img1.png"></div>
                        <p class="chair_text">Chairs</p>
                     </div>
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-12">
                     <div class="blog_box">
                        <div class="blog_img"><img src="images/blog-img2.png"></div>
                        <p class="chair_text">Chair</p>
                     </div>
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-12">
                     <div class="blog_box">
                        <div class="blog_img"><img src="images/blog-img3.png"></div>
                        <p class="chair_text">Sideboard</p>
                     </div>
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-12">
                     <div class="blog_box">
                        <div class="blog_img"><img src="images/blog-img4.png"></div>
                        <p class="chair_text">Chairs</p>
                     </div>
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-12">
                     <div class="blog_box">
                        <div class="blog_img"><img src="images/blog-img5.png"></div>
                        <p class="chair_text">Chair</p>
                     </div>
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-12">
                     <div class="blog_box">
                        <div class="blog_img"><img src="images/blog-img6.png"></div>
                        <p class="chair_text">Sideboard</p>
                     </div>
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-12">
                     <div class="blog_box">
                        <div class="blog_img"><img src="images/blog-img7.png"></div>
                        <p class="chair_text">Chairs</p>
                     </div>
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-12">
                     <div class="blog_box">
                        <div class="blog_img"><img src="images/blog-img8.png"></div>
                        <p class="chair_text">Chair</p>
                     </div>
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-12">
                     <div class="blog_box">
                        <div class="blog_img"><img src="images/blog-img9.png"></div>
                        <p class="chair_text">Sideboard</p>
                     </div>
                  </div>
               </div>
            </div>
            <div class="readmore_bt"><a href="#">See More</a></div>
         </div>
      </div>
      <!-- blog section end -->
      <!-- contact section start -->
      <div class="contact_section layout_padding">
         <div class="container">
            <div class="row">
               <div class="col-sm-12">
                  <h1 class="contact_taital contact_heading">Get In Touch</h1>
               </div>
            </div>
            <div class="contact_section_2">
               <div class="row">
                  <div class="col-md-12">
                     <div class="mail_section map_form_container">
                        <form action="">
                           <input type="text" class="mail_text" placeholder="Name" name="Name">
                           <input type="text" class="mail_text" placeholder="Phone Number" name="Phone Number"> 
                           <input type="text" class="mail_text" placeholder="Email" name="Email">
                           <textarea class="massage-bt" placeholder="Massage" rows="5" id="comment" name="Massage"></textarea>
                           <div class="btn_main">
                              <div class="send_bt"><a href="#">Send</a></div>
                              <div class="map_bt active"><a href="#" id="showMap">Map</a></div>
                           </div>
                        </form>
                        <div class="map_main map_container">
                           <div class="map-responsive">
                              <iframe src="https://www.google.com/maps/embed/v1/place?key=AIzaSyA0s1a7phLN0iaD6-UE7m4qP-z21pH0eSc&amp;q=Eiffel+Tower+Paris+France" width="600" height="368" frameborder="0" style="border:0; width: 100%;" allowfullscreen=""></iframe>
                              <div class="btn_main">
                                 <div class="map_bt d-flex justify-content-center w-100 map_center"><a href="#" id="showForm">Form</a></div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- contact section end -->
<%- include("./partials/page_footer.ejs") %>