<div class="contact_section_2">
  <div class="row">
    <div class="col-md-12">
      <div class="mail_section map_form_container">
        <form action="/admin/furnitures" method="POST" enctype="multipart/form-data">
          <input
            type="text"
            class="mail_text"
            placeholder="Furniture Name"
            name="name"
            id="name"
            required
          />
          <textarea
            class="massage-bt"
            placeholder="Furniture description"
            rows="5"
            id="description"
            name="description"
          ></textarea>
          <input
          type="file"
          class="mail_text"
          placeholder="Furniture photo"
          name="photo"
          id="photo"
        />
          <div class="btn_main">
            <div class="send_bt"><button type="submit">Send</a></div>
            <div class="map_bt active"><a href="javascript: history.back()" id="showMap">Cancel</a></div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
